.formlist {
  width: 500px;
  height: 100vh;
  margin-top: 30px;
  background-color: rgb(46, 46, 121);
}

.formlist form {
  /* background-color: white; */
  border-radius: 20px;
  color: white;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.formlist form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 50px 10px;
  position: relative;
}
.formlist form label p {
  position: absolute;
  top: 40px;
  left: 0px;
}
.formlist form div {
  font-size: 1.5rem;
}
.formlist form input {
  background-color: white;
  color: black;
  border: none;
  width: 60%;
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
}
.formlist form textarea {
  background-color: white;
  width: 60%;
  color: black;
  height: 80px;
  margin-right: 20px;
  border-radius: 10px;
}
.formlist form button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.formlist form button:hover {
  color: black;
  background-color: white;
}
