.carouselWindow {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carouselTrack {
  display: flex;
}

.carouselTrack img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
.controlBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBtn {
  width: 100px;
  height: 100px;
  left: 16px;
}

.rightBtn {
  width: 100px;
  height: 100px;
  right: 16px;
}

.controlBtn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.controlBtn.locked {
  pointer-events: none;
  /* opacity: 0.4; */
  cursor: not-allowed;
}
.otherst {
  width: 100%;
  height: 100vh;
  color: blueviolet;
}
